<configuration>
    <appender name="batch.file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <file>${batchKatalog}/batch.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${batchKatalog}/batch.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>1</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames"/>
        </encoder>
    </appender>

    <logger name="com.hazelcast" level="INFO"/>
    <logger name="com.hazelcast.cluster.ClusterService" level="WARN" />
    <logger name="com.hazelcast.nio.tcp" level="WARN" />

    <root level="INFO">
        <appender-ref ref="batch.file" />
    </root>
</configuration>