name: Bygg og release artifakt med Maven
on:
  push:
  workflow_dispatch:
jobs:
  build:
    uses: statens-pensjonskasse/public-actions-library/.github/workflows/build-library-maven.yaml@309c106e509700ff0ff171b132b59c96eeb6b32f #v1.0.3
    permissions:
      contents: write
      packages: write
    secrets: inherit
    with:
      java-version: '21'
      require-release-flag: true # Lag release hvis commit har [release] i commit-meldingen